---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import {
    CardTitle,
} from "@/components/ui/card";

import { Home } from "lucide-vue-next";

import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const docs = await getCollection("docs");
  const paths = docs.map((doc) => {
    return {
      params: {
        slug: doc.slug,
      },
      props: {
        doc,
      },
    };
  });
  return paths;
};

type Props = {
  doc: CollectionEntry<"docs">;
};

const { doc } = Astro.props;
const Base = import.meta.env.BASE_URL;
//console.dir(codec, { depth: null });
---

<Layout title={"Proxy Calc > " + doc.data.title}>
  <main>
    <div class="inline-flex items-center">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink>
              <a href=`${Base}/`>
                <Home size={20} stroke-width={1.5} />
              </a>
            </BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink>
              <a href=`${Base}/docs`>Documentation</a>
            </BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage>{doc.data.title}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </div>

    <div class="my-4">
      <CardTitle class="text-center my-2">{doc.data.title}</CardTitle>
      {doc.body}
    </div>
  </main>
</Layout>
