---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { getCollection } from "astro:content";
import { Home } from "lucide-vue-next";

import {
	Breadcrumb,
	BreadcrumbItem,
	BreadcrumbLink,
	BreadcrumbList,
	BreadcrumbPage,
	BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";

const codecs = await getCollection("codecs");
const Base = import.meta.env.BASE_URL;
//console.log(codecs);
---

<Layout title={"Proxy Calc > Codec list"}>
	<main>
		<div class="inline-flex items-center">
			<Breadcrumb>
				<BreadcrumbList>
					<BreadcrumbItem>
						<BreadcrumbLink>
							<a href=`${Base}/`>
								<Home size={20} stroke-width={1.5} />
							</a>
						</BreadcrumbLink>
						<BreadcrumbSeparator />
						<BreadcrumbItem>
							<BreadcrumbPage>Codec list</BreadcrumbPage>
						</BreadcrumbItem>
					</BreadcrumbItem>
				</BreadcrumbList>
			</Breadcrumb>
		</div>
		<div
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 sm:gap-4 my-4"
		>
			{
				codecs.map((codec) => (
					<div class="w-full">
						<a href={`${Base}/codeclist/${codec.slug}`}>
							<Button
								variant="secondary"
								class="w-full flex-col items-center min-w-80 sm:min-w-0 h-full"
							>
								<img src={`${Base}/${codec.slug}logo.svg`} alt={`${codec.data.title} logo`} class="h-10 mb-2" />	

								<img src={`${Base}/${codec.slug}.svg`} alt={`${codec.data.title} logo`} class="h-6" />	
							</Button>
						</a>
					</div>
					
				))
			}
			<div class="w-full">
				<a href={`${Base}/codeclist/custom`}>
					<Button
						variant="secondary"
						class="w-full flex-col items-center min-w-80 sm:min-w-0 h-24"
					>
						<span class="text-3xl font-bold text-muted-foreground">Custom bitrate</span>
					</Button>
				</a>
			</div>
		</div>
	</main>
</Layout>
